<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul-->

<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>SearchInk Frontend Test</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
      <table class="table">
        <tr *ngFor="let task of tasks; index as i">
          <td *ngIf="task.status != 8888"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="selectTask(task)">{{i}}</button></td>
          <td *ngIf="task.status == 8888" class="success">{{i}}</td>
          <td *ngIf="task.status != 8888"><input type="text" class="form-control" [(ngModel)]="task.title"></td>
          <td *ngIf="task.status == 8888" class="success">{{task.title}}</td>
          <td *ngIf="task.status != 8888"><input type="text" class="form-control" [(ngModel)]="task.description"></td>
          <td *ngIf="task.status == 8888" class="success">{{task.description}}</td>
          <td *ngIf="task.status != 8888"><button type="button" class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button></td>
          <td *ngIf="task.status == 8888" class="success">{{task.priority}}</td>
          <td *ngIf="task.status != 8888"><button type="button" class="btn btn-warning" (click)="modifyTask(task.id,task.title,task.description,task.priority,task.status)">Modify</button></td>
          <td *ngIf="task.status == 8888" class="success">{{task.status}}</td>
          <td *ngIf="task.status != 8888"><button type="button" class="btn btn-success" (click)="postponeTask(task.id)">postpone</button></td>
          <td *ngIf="task.status == 8888" class="success"></td>
        </tr>
      </table>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Task Info</h4>
            </div>
            <div class="modal-body">
              <table class="table"><tr><td>ID</td><td>{{task.id}}</td></tr><tr><td>TITLE</td><td><input type="text" class="form-control" [(ngModel)]="task.title"></td></tr><tr><td>DESCRIPTION</td><td><input type="text" class="form-control" [(ngModel)]="task.description"></td></tr><tr><td>PRIORITY</td><td><input type="text" class="form-control" [(ngModel)]="task.priority"></td></tr><tr><td>STATUS</td><td><input type="text" class="form-control" [(ngModel)]="task.status"></td></tr></table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="modifyTask(task.id,task.title,task.description,task.priority,task.status)">Modify</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteTask(task.id)">Delete</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
